* {
  box-sizing: border-box;
  color: whitesmoke;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
}

.input {
  display: flex;
  margin: 10px;
  justify-content:right;
  align-items: center;
}
.page {
  display: flex;
  flex-direction: column;
  height: 50%;
}
.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.map-container {
  
  position: relative;

  
}
.places {
  border-radius: 15px;
  height: fit-content;
  margin: 5px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.show-route {
  height:fit-content;
  width: auto;
  
}
.descript {
  display: flex;
}