.map-overlay {
  position: absolute;
  top: 12px;
  left: 12px;

  background: rgba(0, 0, 0, 0.75);
  color: white;

  padding: 10px;
  border-radius: 6px;
  z-index: 2000;

  display: flex;
  gap: 8px;
}

.map-overlay button {
  background: #222;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.map-overlay button:hover {
  background: #333;
}
.show-buttons {
  align-content: space-around;
}